{% comment %} CSS file to style this section {% endcomment %}
{{ 'product-template-coderapper.css' | asset_url | stylesheet_tag }}
`

<section class="container">
  <div class="product-content">
    <div class="content_image">
      <img srcset="{%- if product.featured_image.width >= 165 -%}{{ product.featured_image | image_url: width: '165' }} 165w,{%- endif -%}
      {%- if product.featured_image.width >= 360 -%}{{ product.featured_image | image_url: width: '360' }} 360w,{%- endif -%}
      {%- if product.featured_image.width >= 535 -%}{{ product.featured_image | image_url: width: '535' }} 535w,{%- endif -%}
      {%- if product.featured_image.width >= 750 -%}{{ product.featured_image | image_url: width: '750' }} 750w,{%- endif -%}
      {%- if product.featured_image.width >= 1070 -%}{{ product.featured_image | image_url: width: '1070' }} 1070w,{%- endif -%}
      {%- if product.featured_image.width >= 1500 -%}{{ product.featured_image | image_url: width: '1500' }} 1500w,{%- endif -%}
      {{ product.featured_image| image_url: width: product.featured_image.width }} {{ product.featured_image.width }}w"
        src="{{ product.featured_image | image_url: width: finalWidth }}"
        alt="{{ product.featured_image.alt | escape }}"
        loading="lazy"
        width="{{ product.featured_image.width }}"
        height="{{ product.featured_image.height }}"
      >
    </div>
    <div class="content_information">
      <h2>{{ product.title }}</h2>
      <p>{{ product.description }}</p>
      {% form 'product', product %}
        <label class="product-option">Options</label>
        <select class="product-select" name="id">
          {% for variant in product.variants %}
            <option
              {% if selectedVariant.id == variant.id %}
                selected 
              {% endif %}
              value="{{ variant.id }}"
            >
              {{ variant.title }}
            </option>
          {% endfor %}
        </select>

        <div class="product-quantity">
          <label for="quantity">Quantity</label>
          <input name="quantity" id="quantity" value="1">
        </div>

        <button class="button product-add" type="submit">
          Add to Cart
        </button>
        <p class="added-to-cart">Added to cart</p>
      {% endform %}
      <div class="content_metafield_text">
        {% if product.metafields.custom.metafield_one != blank %}
          <div class="metafield_text">
            {{ product.metafields.custom.metafield_one.value }} 
          </div>
        {% endif %}
        {% if product.metafields.custom.metafield_two != blank %}
          <div class="metafield_text">
            {{ product.metafields.custom.metafield_two.value }}
          </div>
        {% endif %}
        {% if section.settings.more_information %}
          <div class="metafield_text">
            {{ section.settings.more_information | strip_html }}
          </div>
        {% endif %}
      </div>
      {% if product.metafields.custom.similar_product != blank %}
        <div class="content_metafield_product">
          <h3 class="product_heading">Similar Product</h3>
          <div class="product_container">
            <a href="{{ product.metafields.custom.similar_product.value.url }}">
              <img srcset="{%- if product.metafields.custom.similar_product.value.width >= 165 -%}{{ product.metafields.custom.similar_product.value | image_url: width: '165' }} 165w,{%- endif -%}
              {%- if product.metafields.custom.similar_product.value.width >= 360 -%}{{ product.metafields.custom.similar_product.value | image_url: width: '360' }} 360w,{%- endif -%}
              {%- if product.metafields.custom.similar_product.value.width >= 535 -%}{{ product.metafields.custom.similar_product.value | image_url: width: '535' }} 535w,{%- endif -%}
              {%- if product.metafields.custom.similar_product.value.width >= 750 -%}{{ product.metafields.custom.similar_product.value | image_url: width: '750' }} 750w,{%- endif -%}
              {%- if product.metafields.custom.similar_product.value.width >= 1070 -%}{{ product.metafields.custom.similar_product.value | image_url: width: '1070' }} 1070w,{%- endif -%}
              {%- if product.metafields.custom.similar_product.value.width >= 1500 -%}{{ product.metafields.custom.similar_product.value | image_url: width: '1500' }} 1500w,{%- endif -%}
              {{ product.metafields.custom.similar_product.value| image_url: width: product.metafields.custom.similar_product.value.width }} {{ product.metafields.custom.similar_product.value.width }}w"
                src="{{ product.metafields.custom.similar_product.value | image_url: width: finalWidth }}"
                alt="{{ product.metafields.custom.similar_product.value.alt | escape }}"
                loading="lazy"
                width="{{ product.metafields.custom.similar_product.value.width }}"
                height="{{ product.metafields.custom.similar_product.value.height }}"
              >
            </a>
            <h3>{{ product.metafields.custom.similar_product.value.title }}</h3>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</section>

{%  schema %} 
  {
    "name": "coderapper-product",
    "tag": "section",
   "class": "section",
    "settings": [
      {
        "type": "richtext",
        "id": "more_information",
        "label": "More information from Section schema"
      }
    ]
  }
{% endschema %}